.container {
  background-color: var(--black-500);
  padding: 32px 0;
}

.containerButton {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 406px;
  margin: 0 auto;
  gap: 16px;
}

.button {
  width: 100%;
  max-width: 195px;
  height: 38px;
  background: var(--white);
  border-radius: 5px;
  cursor: pointer;
}

.buttonImgText {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.buttonText {
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  color: var(--black-500);
  max-width: 127px;
}

.local {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.containerLocal {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 348px;
}

.textMain {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  padding-bottom: 10px;
  color: var(--white);
}

.textLine {
  width: 44.94px;
  height: 0;
  border: 2px solid var(--white);
  margin-bottom: 10px;
}

.text {
  font-size: 14px;
  line-height: 20px;
  color: var(--white);
}

.containerLocal02 {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .containerButton {
    flex-direction: column;
  }

  .containerLocal02 {
    flex-direction: column;
  }

  .local {
    max-width: 100%;
    padding: 0 16px;
  }

  .containerButton {
    max-width: 198px;
    margin-top: 30px;
    gap: 26px;
  }

  .containerLocal02 {
    justify-content: center;
    align-items: center;
  }

  .textMain {
    font-size: 18px;
    line-height: 25px;
  }
  .text {
    font-size: 13px;
  }

  .textCreated {
    font-size: 10px;
    line-height: 14px;
    color: var(--white);
  }
}
